<table>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7,8]" ng-class="{'bot-border': $index == 2 || $index == 5}">
        <td ng-repeat="j in [0,1,2,3,4,5,6,7,8]"
            ng-class="{'right-border': $index == 2 || $index == 5, clickable: !cell(i,j).found, glow: cell(i,j).colour}"
            ng-style="{width:50, 'height':50, 'font-size': 50-10, 'line-height': 50 - 10 + 'px'}"
            ng-click="pickNumber($parent.$index, $index)">
            <span ng-show="cell(i,j).found">
                {{cell(i,j).val}}
            </span>
        </td>
    </tr>
</table>