<style>
    .score {
        font-size: 30px;
        padding-top: 30px;
    }
    .menu-button {
        padding-top: 36px;
        padding-left: 20px;
    }
    .glow {
        background: limegreen;
    }
</style>

<div>
    <ul class="nav nav-pills">
        <li>
            <div ng-if="user.isLoggedIn" class="circular" ng-style="{'background': 'url(' + user.pic + ') no-repeat'}">
            </div>
        </li>
        <li class="score">
            Score: {{user.userinfo.score || 0}}
        </li>
        <li class="menu-button">
            <button ng-click="size=size+5" class="btn btn-info">+</button>
            <button ng-click="size=size-5" class="btn btn-info">-</button>
        </li>
        <li class="menu-button">
            <button class="btn btn-primary"
                ng-if="!user.isLoggedIn"
                ng-click="user.login()">
                Login
            </button>
        </li>
    </ul>
</div>
<hr>
<table>
    <tr ng-repeat="i in range9" ng-class="{'bot-border': $index == 2 || $index == 5}">
        <td ng-repeat="j in range9"
            ng-class="{'right-border': $index == 2 || $index == 5, clickable: !getVal(i,j).found, glow: getVal(i,j).colour}"
            ng-style="{width:size, 'height':size, 'font-size': size-10, 'line-height': size - 10 + 'px'}"
            ng-click="pickNumber($parent.$index, $index)">
            <span ng-show="getVal(i,j).found">
                {{getVal(i,j).val}}
            </span>
        </td>
    </tr>
</table>

